/*
 * Copyright (c) Codiad & Andr3as, distributed
 * as-is and without warranty under the MIT License. 
 * See [root]/license.md for more information. This information must remain intact.
 */
 
@import url(icons.css);
@import url(loading.css);

#transfer_form_div {
    max-height: 80%;
    overflow-x: hidden;
}

#transfer_form td {
    vertical-align: middle;
}

#transfer_port_td {
    width: 80px;
}

#transfer_connect_td {
    text-align: center;
    padding: 0;
}

#transfer_list td {
    vertical-align: top;
}

#transfer_form li:hover {
    background-color: rgb(81,81,81);
}

#transfer_form li {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#transfer_form i {
    display: inline;
    vertical-align: bottom;
    cursor: pointer;
}

.fileList {
    width: 50%;
    max-height: inherit;
    overflow-y: scroll;
}

.selected {
    background-color: rgb(81,81,81);
}

#transfer_log_div {
    max-height: 76px;
    overflow-y: scroll;
}

.loading {
    height: 10px;
}

.file_list_div {
    max-height: 45%;
    overflow-y: scroll;
}